* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.margin-top-4rem {
    margin-top: 4rem;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%a-nav {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}