* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.margin-top-4rem {
    margin-top: 4rem;
}

input:disabled {
    border: none;
    background: transparent;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    @extend %centered-flex;
    text-align: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-start-with-gap {
    display: flex;
    flex-wrap: wrap;

    div {
        margin: 0 20%;
    }
}

.no-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

textarea {
    resize: none;
}

.backdrop {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.width70 {
    width: 70vw;
    margin: auto;
}

%a-nav {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

.my-blue {
    color: $myBlue;
}