* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.margin-top-4rem {
    margin-top: 4rem;
}

input:disabled {
    border: none;
    background: transparent;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    @extend %centered-flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

%a-nav {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}